{block title}{_'Správa slev'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa slev'}
</h3>

<a n:href=":Discount:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat novou slevu'}
</a>

{control table}

