{block title}{_'Správa DPH'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa sazeb DPH'}
</h3>

<a n:href=":Vat:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat novou sazbu DPH'}
</a>

{control table}

