{block title}{_'Správa zákazníků'}{/block}
{block content}
<h3 class="page-header">
    {_'Správa zákazníků'}
</h3>

<a n:href=":Customer:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat nového zákazníka'}
</a>

{control table}
