
<!DOCTYPE html>
<html lang="cs">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{_'AudioPro'} | {_'Přihlášení'}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{$basePath}/core/template-admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{$basePath}/core/template-admin/dist/css/sb-admin-2.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{$basePath}/core/template-admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <div class="container">
        <br><br>
        <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {$flash->message|translate}
        </div>

        <div class="row">

            <div class="col-md-4 col-md-offset-4">

                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{_'Přihlášení do systému'}</h3>
                    </div>
                    <div class="panel-body">
                        {form signInForm}
                            <fieldset>
                                <div class="form-group">
                                    {input username}
                                </div>
                                <div class="form-group">
                                    {input password}
                                </div>

                                {input send}

                            </fieldset>
                        {/form}
                    </div>
                </div>


            </div>
        </div>
    </div>




    <!-- jQuery -->
    <script src="{$basePath}/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{$basePath}/core/template-admin/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{$basePath}/core/template-admin/dist/js/sb-admin-2.js"></script>

    <script src="//nette.github.io/resources/js/netteForms.min.js"></script>
</body>

</html>