{block title}{_'Správa dodacích metod'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa dodacích metod'}
</h3>

<a n:href=":DeliveryMethod:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat novou dodací metodu'}
</a>

{control table}

