{block title}{_'Správa bannerů'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa bannerů'}
</h3>

<a n:href=":BannerProduct:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat nový banner'}
</a>

{control table}

