{block title}{_'Správa produktů'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa produktů'}
</h3>

<a n:href=":Product:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat nový produkt'}
</a>

{control table}



