{block title}{_'Správa stavů objednávek'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa stavů objednávek'}
</h3>

<a n:href=":OrderState:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat nový stav objednávek'}
</a>

{control table}

