{block title}{_'Přehled objednávek'}{/block}
{block content}
<h3 class="page-header">
    {_'Přehled objednávek'}
</h3>

<a n:href="createCustomOrder!">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat novou objednávku ručně'}
</a>

{control table}
