{block title}{_'Editace způsobu dodání a platby u objednávky'}{/block}

{block content}

<h3 class="page-header">
    {_'Editace způsobu dodání a platby u objednávky'}
</h3>

<div style="" class="col-xs-12 col-sm-12 col-md-8">
    {form formEditPayDelInfo, class=>"form-horizontal"}
        {control renderer $form}
    {/form}
    <a n:href=":Order:view id=>$order->id" class="btn btn-default">
        <span class="fa fa-arrow-left"></span>
        {_'Zpět'}
    </a>
</div>