{block title}{_'Správa filtru produtků'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa filtru produtků'}
</h3>

<a n:href=":ProductFilter:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat nový filtr produktů'}
</a>

{control table}

