{block title}{_'Správa objednávek svozu pro DPD'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa objednávek svozu pro DPD'}
</h3>

<a n:href="DpdOrder:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Nová objednávka svozu'}
</a>

{control table}

