services:
	EETAdapter:
		class: Intra\Model\Utils\EET\EETAdapter
		setup:
		- setProductionMode(false)

	OrderProcessFacade:
		class: Front\Model\Facade\OrderProcessFacade
		setup:
		- setProduction(false)

	BasketFacade:
		class: Front\Model\Facade\BasketFacade
		setup:
		- setProduction(false)

	BalikobotAdapter:
		class: Intra\Model\Utils\BalikobotAdapter
		setup:
		- setProduction(false)

	HeurekaCart:
	    class: Intra\Model\Utils\HeurekaCart
	    setup:
	        - setProduction(false)