{block title}{_'Správa skupin filtrů produktů'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa skupin filtrů produktů'}
</h3>

<a n:href=":GroupProductFilter:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat novou skupinu produktů'}
</a>

{control table}

