{block title}{_'Správa platebních metod'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa platebních metod'}
</h3>

<a n:href=":PaymentMethod:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat novou platební metodu'}
</a>

{control table}

