{block title}{_'Správa menů'}{/block}
{block content}
<h3 class="page-header">
    {_'Správa menů'}
</h3>

<a n:href=":WebMenu:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat nové menu'}
</a>

{control table}
