{block title}{_'Správa značek produtků'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa značek produtků'}
</h3>

<a n:href=":ProductMark:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat novou značku produktů'}
</a>

{control table}

