{block title}{_'Správa jazyků'}{/block}
{block content}
<h3 class="page-header">
    {_'Správa jazyků'}
</h3>

<a n:href=":Language:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat nový jazyk'}
</a>

{control table}
