{block title}{_'Správa Heuréka košíku'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa Heuréka košíku'}
</h3>

<a n:href="HeurekaCart:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat nový Heuréka košík'}
</a>

{control table}

