{block title}{_'Správa e-shopů Balíkobot'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa e-shopů Balíkobot'}
</h3>

<a n:href=":BalikobotShop:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat nový e-shop Balíkobotu'}
</a>

{control table}

