{block title}{_'Správa výrobců produtků'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa výrobců produtků'}
</h3>

<a n:href=":ProductProducer:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat nového výrobce produktů'}
</a>

{control table}

