{block title}{_'Editace rolí'}{/block}

{block content}

<h3 class="page-header">
    {_'Editace skupiny'}
</h3>

<div style="" class="col-xs-12 col-sm-12 col-md-8">
    {form form, class=>"form-horizontal"}
        {control renderer $form}
    {/form}

    <a n:href=":Group:default">
        <span class="fa fa-arrow-left" aria-hidden="true"></span>
        {_'Zpět'}
    </a>
</div>