{block title}{_'Správa speciálních akcí'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa speciálních akcí'}
</h3>

<a n:href=":SpecialOfferProduct:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat novou speciální akci'}
</a>

{control table}

