{block title}{_'Správa svozových adres pro DPD'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa svozových adres pro DPD'}
</h3>

<a n:href="DpdAddress:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat novou svozovou adresu'}
</a>

{control table}

