{block title}{_'Uživatelé'}{/block}
{block content}
<h3 class="page-header">
    {_'Uživatelé'}
</h3>

<a n:href=":User:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat nového uživatele'}
</a>

{control table}




