{block title}{_'Správa slevových bannerů'}{/block}
{block content}

<h3 class="page-header">
    {_'Správa slevových bannerů'}
</h3>

<a n:href="SaleBanner:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat nový slevový banner'}
</a>

{control table}

