{_'Dobrý den,'}<br>
<br>
{_'na eshopu AudioPro, potřebuje zákazník pomoci s formulářem'}<br>
{_'Kontakt na zákazníka:'} <br>
<br>
{_'Telefon'}: {$data->phone}<br/>
{_'Email'}: {$data->email}<br/>

<br>
{_'S přáním pěkného dne,'}<br>
<a href="{link Front:default}">www.audiopro.cz</a><br>