{_'Dobrý den,'}<br>
<br>
{_'na eshopu AudioPro vznikl problém, který si vyžaduje Vaší pozornost:'}<br><br>
<strong>
    {$text}
</strong>

<br><br>
<a href="{link Front:default}">www.audiopro.cz</a><br>