{block title}{_'Správa šablon stránek'}{/block}
{block content}
<h3 class="page-header">
    {_'Správa šablon stránek'}
</h3>

<a n:href=":WebTemplate:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat novou šablonu'}
</a>

{control table}
