{block title}{_'Správa článků'}{/block}
{block content}
<h3 class="page-header">
    {_'Správa článků'}
</h3>

<a n:href=":WebArticles:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat nový článek'}
</a>

{control table}
