{block title}{_'Správa prodejců'}{/block}
{block content}
<h3 class="page-header">
    {_'Správa prodejců'}
</h3>

<a n:href=":Sellers:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat nového prodejce'}
</a>

{control table}
