{block title}{_'Správa států'}{/block}
{block content}
<h3 class="page-header">
    {_'Správa států'}
</h3>

<a n:href=":Country:edit">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {_'Přidat nový stát'}
</a>

{control table}
