{block title}{_'Přehled balíků objednání svozu přes Balíkobot'}{/block}
{block content}

<h3 class="page-header">
    {_'Přehled balíků objednání svozu přes Balíkobot'}
</h3>

{control table}

