{block title}{_'Hromadné info balíku'}{/block}
{block content}

<h3 class="page-header">
    {_'Hromadné info balíku č.'} {$package->id}
</h3>

<div class="col-md-12">
    {foreach $overview as $item}
        <p>{$item}</p>
    {/foreach}
</div>

